/*
================
Fonts  
================
*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400&family=Roboto&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(6, 50, 81);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: rgb(73, 166, 233);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Chivo Mono', monospace;
  --ff-secondary: 'Roboto', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(6, 50, 81, 0.6), rgba(6, 50, 81, 0.6)),
    url(./image/bg-2.jpg) center/cover no-repeat fixed;
  display: grid;
  place-items: center;
}
.calculator {
  background: var(--clr-grey-10);
  width: 100%;
  height: 100vh;
  display: grid;
  /* grid-template-rows: repeat(8, 1fr); */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas:
    'a a a a'
    'a a a a'
    'a a a a'
    'b c d e'
    'f g h i'
    'j k l m'
    'n o p q'
    'r r s q';
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.box {
  display: grid;
  place-items: center;
  background: var(--clr-white);
  border-radius: 1rem;
  color: var(--clr-primary-5);
  font-size: 1.25rem;
}
.display {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--clr-grey-10);
}
.bg-1 {
  background: var(--clr-primary-8);
}
.box-0 {
  grid-area: r;
}
.box-1 {
  grid-area: n;
}
.box-2 {
  grid-area: o;
}
.box-3 {
  grid-area: p;
}
.box-4 {
  grid-area: j;
}
.box-5 {
  grid-area: k;
}
.box-6 {
  grid-area: l;
}
.box-7 {
  grid-area: f;
}
.box-8 {
  grid-area: g;
}
.box-9 {
  grid-area: h;
}
.box-10 {
  grid-area: d;
}
.box-11 {
  grid-area: e;
}
.box-12 {
  grid-area: m;
}
.box-13 {
  grid-area: i;
}
.box-14 {
  grid-area: q;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}
.box-15 {
  grid-area: s;
}
.box-16 {
  grid-area: b;
  color: var(--clr-grey-1);
}
.box-17 {
  grid-area: c;
  color: var(--clr-grey-1);
}
